@page
@model WebAppRazor1.Pages.ContactoModel
@{
	ViewData["Title"] = "Contacto";
}
<h1>@ViewData["Title"]</h1>

<p>Hola, soy Nico, el desarrollador de esta página.</p>
<p>Si tienes alguna duda, puedes contactarme con un correo a <a href="">nico.nsavs@gmail.com</a></p>