@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">Bienvenido a la web de arte digital más novedosa.</h4>
    <p>Aquí podrás buscar arte y diseñadores para tus necesidades.</p>
    <p></p>
</div>
